.title {
    font-size: 20vw;
    color: #33a69a;
    font-family: 'Courier New', Courier, monospace;
}

/* NAVBAR CSS */
.brand-logo {
    height: 64px;
}

@media (max-width: 600px) {
    .brand-logo {
        height: 56px;
    }
}
/* END OF NAVBAR CSS */

/* START REGISTRATION CSS */
.user_card {
    width: 40%;
    margin-bottom: auto;
    background: #D0CAB2;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}
.inline-icon {
    vertical-align: middle;
    font-size: 18px !important;
}

.or-container {
    align-items: center;
    color: grey;
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.line-separator {
    background-color:#a8a7a7;
    flex-grow: 5;
    height: 1px;
}
.or-label {
    flex-grow: 1;
    margin: 0 7%;
    text-align: center;
}

#inline{
    width:110%;
    height:auto;
    display:flex;
} 

.password-field{
    width:100%;
} 

.reveal-password{
    width:5%;
    margin-left: 15%;
}

.password-toggle {
    position: relative;
    right: 55px;
    transform: translate(0, -20%);
    top: 50%;
    cursor: pointer;
}

.form-title {
    font-size: 2.5vw;
}

.form-bottom-txt {
    font-size: 1.5vw;
}

.form-bottom-txt-login {
    font-size: 1.35vw;
}

@media (max-width: 800px) {
    .user_card {
        width: 90%;
        margin-bottom: auto;
        background: #D0CAB2;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    }

    .form-title {
        font-size: 5vw;
    }
    .form-bottom-txt {
        font-size: 4vw;
    }

    .form-bottom-txt-login {
        font-size: 3.0vw;
    }
}
/* END OF REGSITRATION CSS */

/* BEGIN OF HOMEPAGE HEADER CSS */
.typed_text {
    font-size: 11vw;
    color: black;
    font-family: SimplifiedRegular;
}

@font-face {
    font-family: 'SimplifiedRegular';
    src: url("/static/simplified.ttf");
}

@font-face {
    font-family: 'Myriad';
    src: url("/static/MyriadProRegular.ttf");
}
.typeText::after {
    content: "|";
    font-family: monospace;
    font-family: SimplifiedRegular;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

.myriad {
    font-family: Myriad;
}
/* END OF HOMEPAGE HEADER CSS */


/* BEGIN OF RECIPE LIST CSS */

/* Remove margins and padding from the list */
.ingredients_list {
    margin: 0;
    padding: 0;
}

/* Style the list items */
.ingredients_list .ingredient_item {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.ingredients_list .ingredient_item:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
.ingredients_list .ingredient_item:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.ingredients_list .ingredient_item.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.ingredients_list .ingredient_item.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}


/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #54bab9;
    color: white;
}

/* Style the header */
.header {
    background-color: #54bab9;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}
/* END OF RECIPE LIST CSS */