{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load materializecss %}
{% block title %}Home{% endblock title %}
{% block content %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <!-- <script src="{% static 'recipe_list.js' %}"></script> -->
    <link rel="stylesheet" href="{% static 'recipe_prices_results.css' %}">

    <script>
        function showSuccessMessage(msg) {
            M.toast({html: '<h5><i class="small material-icons">check_circle</i>  ' + msg + '</h5>', classes: 'green', displayLength: '4000'});
        };
        function showErrorMessage(msg) {
            M.toast({html: '<h5><i class="small material-icons">report</i>  ' + msg + '</h5>', classes: 'red', displayLength: '4000'});
        };
        function showWarningMessage(msg) {
            M.toast({html: '<h5><i class="small material-icons" style="vertical-align: middle;">report_problem</i>  ' + msg + '</h5>', classes: 'orange', displayLength: '4000'});
        };
        function showInfoMessage(msg) {
            M.toast({html: '<h5><i class="small material-icons" style="vertical-align: middle;">report_problem</i>  ' + msg + '</h5>', classes: 'blue', displayLength: '4000'});
        };        
    </script>
    <style>
        .modal_overlay {
            z-index: 1002 !important; display: block !important; opacity: 0.5 !important;
        }
        .progress-bar {
            height: 30px;
            width: 100%;
            background-color: #BFADA3;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 2px 0 10px inset rgba(0,0,0,0.2);
            position: relative;
        }

        * + .progress-bar {
            margin-top: 2rem;
        }

        .bar {
        width: 0;
        height: 100%;
        background-color: #54bab9;
        
        /*Lollipop background gradient*/
        background-image: linear-gradient(
            -45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent
        );
        
        background-size: 30px 30px;
        animation: move 2s linear infinite;
        box-shadow: 2px 0 10px inset rgba(0,0,0,0.2);
        transition: width 2s ease-out;
        }

        /*Lollipop background gradient animation*/
        @keyframes move {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 30px 30px;
        }
        }

        .perc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-weight: bold;
        }
        .modal_header_txt {
            font-size: 2.5vw;
        }
        .modal_footer_txt {
            font-size: 2.0vw;
        }
        @media (max-width: 600px) {
            .modal_header_txt {
                font-size: 6.0vw;
            }
            .modal_footer_txt {
                font-size: 3.0vw;
            }
        }
        </style>
    
</head>

<body style="text-align: center;">
    <div class="modal-overlay" id='myModalOverlay' style="z-index: 999; display: none; opacity: 0.5;"></div>
    <div class="modal in" id="myModal" style="z-index: 10000;">
        
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header modal_header_txt" style="text-align: center; margin-bottom: 5%;">
                    Please wait while we are retrieving the products!
                </div>
                <!-- Modal body -->
                <div class="modal-body" style="text-align: center;">
                    <div class="preloader-wrapper active" >
                        <div class="spinner-layer spinner-green-only">
                          <div class="circle-clipper left">
                            <div class="circle" style="border-color: #54bab9 !important;"></div>
                          </div>
                          <div class="gap-patch">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>
                      <div class="progress-bar">
                        <div id="progress_bar_percentage" class="bar" data-size="0">
                          <span class="perc"></span>
                        </div>
                      </div>
                </div>
                
                <!-- Modal footer -->
                <div id='modal_footer_txt' class="modal-footer modal_footer_txt" style="text-align: center; margin-top: 5%;">
                    0 products retrieved
                </div>
            
            </div>
        </div>
    </div>
    {% for message in messages %}
        {% if message.tags == "error" %}
            <script>
                showErrorMessage("{{message}}");
            </script>
        {% endif %}
        {% if message.tags == "info" %}
            <script>
                showInfoMessage("{{message}}");
            </script>
        {% endif %}
        {% if message.tags == "success" %}
            <script>
                showSuccessMessage("{{message}}");
            </script>
        {% endif %}
        {% if message.tags == "warning" %}
            <script>
                showWarningMessage("{{message}}");
            </script>
        {% endif %}
    {% endfor %}
    <div class="row" style="margin-top:5%; margin-bottom: 5%;">
        <!-- {{request.session.test}} -->
        <div class="col l2 m2 s0"></div>
        <div class="col l8 m8 s11" style="background-color: #F7ECDE;  border-radius:2%; box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.2);">
            <div id="id_welcome" class="typed_text typeText" style="text-align: center; z-index: 99; text-orientation: mixed; ; cursor: default; -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;">
            </div>
            <div class="myriad compare_text">
                Compare your recipe's price at <strong style="font-weight: bold;">Tesco</strong> vs <strong style="font-weight: bold;">British Online Supermarket</strong>!
             </div>
             <div id="myDIV" class="header" style="margin-left: 5%; margin-right: 5%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                <h2 class="my_recipe_title">My Recipe</h2>
                <div class="row">
                    <div class="col s10">
                        <input class="myriad ingredient-input" type="text" id="myInput" placeholder="Enter your recipe's ingredients..." style="width: 90%;">
                    </div>
                    <div class="col s1">
                        <a class="addBtn btn-floating btn-small waves-light green" onclick="newElement()"><i class="material-icons">add</i></a>
                    </div>
                </div>
            </div>
            <form id="submitIngredientsForm" action="" method="POST" style="margin-left: 5%; margin-right: 5%;">
                {% csrf_token %}
                <ul class="ingredients_list" id="myUL">
                    {% for ingredient in request.session.ingredients %}
                        <li class="ingredient_item">{{ingredient}}<span class="close">×</span><input class="ingredients" type="hidden" name="ingredients" value="{{ingredient}}"></li>
                    {% endfor %}
                </ul>
                <div style="margin: auto; text-align: center;">
                    <button id='submitIngredients' class="btn waves-effect waves-light" type="submit" name="action" style="margin-top: 3%; background-color: #54bab9 !important;" >Get Prices
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
        <div class="col l2 m2 s1"></div>
    </div>
    {% if request.session.tesco_products and request.session.british_online_supermarket_products %}
    <div class="row">
        <div class="col l0 s1"></div>
        <div class="col l12 m10 s10">
            <div class="row" style="margin-bottom: 3%; text-align: center; align-items: center;">
                <div class="col m0 l1 s1">
                </div>
                <div class="col l5 m12 s12">
                    <ul class="collection">
                        <li style="background-color: white; text-align: center; padding-bottom: 5%; padding-top: 5%;">
                            <img class="img-fluid" src="{% static 'Tesco_logo.png' %}" alt="tesco_logo" style=" width: 50%; vertical-align: middle;">
                        </li>
                        {% for ingredient, products in request.session.tesco_products.items %}
                            <li class="collection-item avatar ingredient_item" style="text-align: left;">
                                <i class="material-icons circle">restaurant_menu</i>
                                <span class="title" style="margin-bottom: 5%;"><strong>{{ingredient}}</strong></span>
                                <ul class="ingredients_list" id="myUL">
                                    {% for product in products %}
                                    <li class="ingredient_item myriad" style="margin-top: 5%; padding-left: 5%; margin-left: 0%;">
                                        <div class="row" style="margin: 0%; padding: 0%;">
                                            <div class="col s10" style="margin: 0%; padding: 0%;"> <a class="product_link" href="{{product.link}}" target="_blank" style="text-align: left; margin-right: 1%;">{{product.full_name}}  <i class="tiny material-icons" style="vertical-align: middle;">open_in_new</i></a> </div>
                                            <div class="col s2" style="margin: 0%; padding: 0%;"> <strong style="float: right; font-weight: bold;">{{product.price}}{{product.currency}}</strong>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col l5 m12 s12" style="text-align: center; align-items: center;">
                    <ul class="collection">
                        <li style="background-color: white; text-align: center; padding-bottom: 5%; padding-top: 5%;">
                            <img class="img-fluid" src="{% static 'British_OS.png' %}" alt="britishOnlineSupermarket_logo" style=" width: 50%; vertical-align: middle;">
                        </li>
                        {% for ingredient, products in request.session.british_online_supermarket_products.items %}
                            <li class="collection-item avatar ingredient_item" style="text-align: left;">
                                <i class="material-icons circle">restaurant_menu</i>
                                <span class="title" style="margin-bottom: 5%;"><strong>{{ingredient}}</strong></span>
                                <ul class="ingredients_list" id="myUL">
                                    {% for product in products %}
                                    <li class="ingredient_item myriad" style="margin-top: 5%; padding-left: 5%; margin-left: 0%;">
                                        <div class="row" style="margin: 0%; padding: 0%;">
                                            <div class="col s10"><a class="product_link" href="{{product.link}}" target="_blank" style="text-align: left; margin-right: 1%;">{{product.full_name}}  <i class="tiny material-icons" style="vertical-align: middle;">open_in_new</i></a> </div>
                                            <div class="col s2"><strong style="float: right; font-weight: bold;">{{product.price}}{{product.currency}}</strong>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                    
                </div>
                <div class="col m0 l1 s1"></div>
            </div>
        </div>
        <div class="col s1"></div>
    </div>
    <div style="text-align: center; margin-top: 0%;">
        <form action="/myrecipes/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="hidden_inp" value="hidden">
            <button class="btn-large waves-effect waves-light" type="submit" name="action" style="background-color: #54bab9 !important;" >Save Recipe and Prices
                <i class="material-icons right">save</i>
            </button>
        </form>
    </div>
    {% endif %}
    <!-- {% if request.session.ingredients_left %} -->
    <!-- <script> 
        // console.log('HERE');
        list = {{request.session.ingredients_left|safe}};
        // console.log(list);
        if (list.length) {
            $(document).ready(function(){
            //initialize all modals
                $('.modal').modal({
                    dismissible: false
                });
                $('#myModal').modal('open');
            });
            $.post(
                '',
                { 'ingredients_left':list,
                "csrfmiddlewaretoken" : "{{csrf_token}}"},
                function(data, status){
                    location.reload();
                    
                }); 
        }
     </script>
    {% endif %}
    {% if modal_close == True %}
    <script>
        $(document).ready(function(){
            //initialize all modals
            $('.modal').modal({
                dismissible: false
            });
            $('#myModal').modal('close');
        });
    </script>
    {% endif %} -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script>
$(document).ready(function(){
        //initialize all modals
        $('.modal').modal({
            dismissible: false
        });
    });

    function loading() {
  document.querySelectorAll(".bar").forEach(function(current) {
    let startWidth = 0;
    const endWidth = current.dataset.size;
    
    /* 
    setInterval() time sholud be set as trasition time / 100. 
    In our case, 2 seconds / 100 = 20 milliseconds. 
    */
    const interval = setInterval(frame, 20);

    function frame() {
      if (startWidth >= endWidth) {
        clearInterval(interval);
      } else {
          startWidth++;
          current.style.width = `${endWidth}%`;
          current.firstElementChild.innerText = `${startWidth}%`;
        }
     }
  });
}

setTimeout(loading, 100);
// function open_modal(){
//     $('#myModal').modal('open');    
// }         
// Click on a close button to hide the current list item
var close = document.getElementsByClassName("close");
var ingredients_list = document.getElementsByClassName("ingredients");
var i;
for (i = 0; i < close.length; i++) {
  close[i].onclick = function() {
    console.log(this.className);
    var div = this.parentElement;
    div.style.display = "none";
    $(this).parent().remove();
  }
}

// Add a "checked" symbol when clicking on a list item
var list = document.querySelector('ul');
list.addEventListener('click', function(ev) {
  if (ev.target.tagName === 'LI') {
    ev.target.classList.toggle('checked');
  }
}, false);

// Create a new list item when clicking on the "Add" button
function newElement() {
  var li = document.createElement("li");
  li.classList.add('ingredient_item');
  var inputValue = document.getElementById("myInput").value;
  var t = document.createTextNode(inputValue);
  li.appendChild(t);
  if (inputValue === '') {
    alert("You must write an ingredient!");
  } else {
    document.getElementById("myUL").appendChild(li);
  }
  document.getElementById("myInput").value = "";

  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  var input_to_be_submitted = document.createElement("input");
  input_to_be_submitted.setAttribute("type", "hidden");
  input_to_be_submitted.setAttribute("class", "ingredients");
  input_to_be_submitted.setAttribute("name", "ingredients");
  input_to_be_submitted.setAttribute("value", inputValue);
  span.className = "close";
  span.appendChild(txt);
  li.appendChild(span);
  console.log("here");
  li.appendChild(input_to_be_submitted);

  for (i = 0; i < close.length; i++) {
    close[i].onclick = function() {
      var div = this.parentElement;
      div.style.display = "none";
      $(this).parent().remove();
    }
  }
}
// -------------------------------

var typeText = document.querySelector("#id_welcome")
var textToBeTyped = "Welcome to foodSpy!"
var index = 0, isAdding = true

function sleep(ms) {
return new Promise(resolve => setTimeout(resolve, ms));
}

async function playAnim() {
setTimeout(function () {
    // set the text of typeText to a substring of the text to be typed using index.
    typeText.innerText = textToBeTyped.slice(0, index)
    if (isAdding) {
    // adding text
    if (index > textToBeTyped.length) {
        // no more text to add
        isAdding = false
        //break: wait 2s before playing again
        setTimeout(function () {
        playAnim()
        }, 2000)
        return
    } else {
        // increment index by 1
        index++
    }
    }

    playAnim()
}, 120)
if (index == textToBeTyped.length) {
    console.log("DONE");
    await sleep(500);
    $("#id_welcome").attr('class', 'typed_text');
}
}
// start animation
playAnim()
function ajaxPromise(name, nr, token, list_of_ingredients) {
    return new Promise(function (resolve, reject) {
        //Do anything as desired with the elInfo passed as parameter
        $.post({
            url: '/get_prices/',
            data : {
            'ingredient_name': name,
            'ingredient_nr' : nr,
            "csrfmiddlewaretoken" : token,
            },
            success: function (data) {
                //Do anything as desired with the data received from the server,
                //and then resolve the promise
                resolve();
            },
            error: function (err) {
                reject(err);
            },
            async: true
        });

    });
}
function sleepPromise() {
    return new Promise(function (resolve, reject) {
        //Do anything as desired with the elInfo passed as parameter
        setTimeout(resolve, 5000)
    });
}

function callAjaxSynchronous(list, i, ingr_nr, list_of_ingredients) {
    let token = "{{csrf_token}}";
    if (i < list.length) {
            ajaxPromise(list[i]['value'], ingr_nr, token, list_of_ingredients)
            .then(function () {
                let percentage = (ingr_nr * 100.0) / (list.length - 1);
                console.log(percentage);
                $('#progress_bar_percentage').attr('data-size', percentage); 
                setTimeout(loading, 100);
                let no_ingredients = list.length - 1;
                let result = "";
                let txt = result.concat(ingr_nr.toString(), " ", "out of", " ", no_ingredients.toString(), " products retrieved");
                $('#modal_footer_txt').text(txt);
                callAjaxSynchronous(list, i + 1, ingr_nr + 1);
            })
            .catch(function (err) {
                //Abort further ajax calls/continue with the rest
                //callAjaxSynchronous(elCollection);
        });  
    }
    else {
        sleepPromise()
        .then(function (){
            location.reload();
            showSuccessMessage("All prices have been retrieved!")
        }) 
        .catch(function (err) {
            // Abort
        });
        return false;
    }
}
$("#submitIngredients").click(function() {

    var url = "get_prices/"; // the script where you handle the form input.
    if (document.getElementById('myUL').getElementsByTagName('li').length >= 1) {
        list = $("#submitIngredientsForm").serializeArray();
        console.log(list);
        let i = 0;
        let n = list.length;
        let ingr_nr = 0;
        let processed_ingr = 0;
        let list_of_ingredients = [];
        $('#myModal').modal('show'); 
        $('#myModalOverlay').css('display', 'block');
        for (let j = 0; j < n; ++j) {
            if (list[j]['name'] == 'ingredients') {
                list_of_ingredients.push(list[j]['value']);
            }
        }
        // console.log(list_of_ingredients);
        callAjaxSynchronous(list, 1, 1, list_of_ingredients);
    } else {
        alert("Please enter at least an ingredient!")
    }
   
    return false; // avoid to execute the actual submit of the form.
    });
</script>
{% endblock content %}